* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

/* Header */

.header-bg {
  background-color: #F4F0E5;
}

.header {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header ul li {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem;
}

.header ul li a {
  text-decoration: none;
  color: #918a7a;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header ul li a::after {
  display: block;
  content: '';
  height: 4px;
  width: 0%;
  margin: 0 auto;
  background-color: #918a7a;
  transition: 0.4s;
}

.header ul li a:hover::after {
  width: 80%;
}

.logo {
  font-family: 'Kaushan Script', cursive;
  font-size: 4rem;
  font-weight: 700;
  color: #6f7799;
}

/* Biografia */

.bio-bg {
  background: #fffdf6;
}

.bio {
  padding-top: 160px;
  padding-bottom: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.bio-img {
  width: 420px;
}

.bio-img img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 8px #615e52;
  animation: show-right 1s forwards;
}

.bio-text {
  max-width: 36ch;
  font-size: 1.5rem;
  color: #58554a;
  animation: show-left 1s forwards;
}

@keyframes show-left {
  from {
    opacity: 0;
    transform: translate3d(60px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-60px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Music */

.music-bg {
  background: #F4F0E5;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 80px;
  padding-bottom: 160px;
}

.music-bg h2 {
  text-align: center;
  font-family: 'Kaushan Script';
  font-size: 3rem;
  color: #918a7a;
  letter-spacing: 4px;
}

.music {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.album-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 
.music img {
  width: 260px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px #918a7a;
}

.music h3 {
  max-width: 20ch;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  align-self: center;
  justify-self: center;
  color: #525a7a;
  padding-bottom: 10px;
}

audio {
  border: 1px solid #afaa93;
  width: 260px;
  height: 30px;
  margin-top: 12px;
}

/* Videos */

.videos-bg {
  background: #fffdf6;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 160px;
  gap: 60px;
}

#videos {
  text-align: center;
  font-family: 'Kaushan Script';
  font-size: 3rem;
  color: #918a7a;
  letter-spacing: 4px;
}

.videos {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.video-item {
  display: flex;
  flex-direction: column;
}

.video-item img {
  width: 380px;
  height: auto;
  border-radius: 4px;
  box-shadow: 4px 4px 6px #918a7a;
}

.video-item a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #525a7a;
  font-weight: 700;
}

.video-item span {
  width: 26px;
  height: 18px;
}

.video-item span img {
  width: 100%;
  padding-top: 7px;
  box-shadow: none;
}

.video-link {
  padding-top: 8px;
  display: flex;
  gap: 14px;
  justify-content: center;
}

/* Fotos */

.fotos-bg {
  background: #F4F0E5;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 80px;
  padding-bottom: 160px;
}

.fotos-bg h2 {
  text-align: center;
  font-family: 'Kaushan Script';
  font-size: 3rem;
  color: #918a7a;
  letter-spacing: 4px;
}